body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

img {
    display: block;
    width: 280px;
}

.qr-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: white;
    width: 280px;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 18px;
}

.qr-image {
    overflow: hidden;
    border-radius: 10px;
}

.qr-title {
    color: hsl(218, 44%, 22%);
}

.qr-subtitle {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}
