
:root {
    --ff-primary: 'Outfit', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-h1: 1.4rem;
    --fs-p: 1rem;

    --clr-background: hsl(212, 45%, 89%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-dark: hsl(218, 44%, 22%);
    --clr-light: hsl(220, 15%, 55%);
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
}
p {
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    color: var(--clr-light);
}

img {
    display: block;
}

body {
    background-color: var(--clr-background);
    display: grid;
    place-items: center;
    font-family: var(--ff-primary);
}

.qr-code {
    overflow: hidden;
    border-radius: 8px;
}

.qr-card {
    background-color: var(--clr-white);
    padding: 16px;
    margin: 0;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 5px 15px var(--clr-light);
    text-align: center;
    width: 17.2em;
}
